@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Lora&family=Roboto+Mono:wght@300&display=swap');

/* Color variables */
:root {
  --color-dark-blue: #0A014F;
  --color-yellow: #FFAE03;
  --color-dark-red: #4F000B;
  --color-gray: #716969;
  --color-light-blue1: #1789FC;
  --color-light-blue2: #396E94;
  --color-orange: #ffa500;
  --color-charcoal: #1f1e1e;
}

/* Home page (index.html) css styling. */
#content {
  max-width: 1500px;
  margin: 0 auto;
}

body {
  background-color: var(--color-gray);
  max-width: 1600px;
  font-size: 22px;
  margin: 0;
  padding: 0;
}

header {
  display: grid;
  grid-template-columns: 150px auto;
  opacity: .9;
  transform: scale(1.0);
}
a {
  text-decoration: none;
  color: var(--color-light-blue2);
  padding: 5px 10px;
  border-radius: 5px;
}

nav {
  display: flex;
  justify-content: space-around;
}

nav a:hover {
  background-color: var(--color-yellow);
  text-decoration: none;
  color: var(--color-dark-blue);
}

a, #logo-link {
  padding-top: 5px;
  justify-self: center;
  align-self: center;
}
.logo {
  width: 80px;
  border-radius: 360%;
}

#hero {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  margin-top: -100px;
}

#hero-box {
  grid-column: 1/4;
  grid-row: 1/3;
  z-index: -1;
}
#hero-img {
  width: 100%;
}

.home-title {
  margin-top: 10px;
  font-family: "Caveat", "Brady Hand", Sans-Serif;
  font-size: 3em;
  color: var(--color-light-blue1);
}

#hero-msg {
  text-align: center;
  width: 100%;
  grid-column: 2/3;
  grid-row: 1/2;
  margin-top: 125px;
}

#hero-msg h4 {
  color: var(--color-yellow);
 
}

.home-grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

#home-grid-box {
  grid-column: 1/7;
  grid-row: 1/4
}

.home-grid-img {
  width: 100%;
  margin: 150px 100px;
  border: 10px solid var(--color-light-blue2);
  box-shadow: 5px 5px 10px var(--color-dark-blue);
}
.home-grid-img:hover {
  opacity: .6;
}
.section-card {
  grid-column: 6/9;
  grid-row: 2/3;
  padding: 25px 25px;
  background-color: var(--color-light-blue2);
  margin-top: 50px;
  opacity: .9;
  transform: scale(1.5);
  text-align: center;
  color: var(--color-yellow);
  box-shadow: 5px 5px 10px var(--color-dark-blue);
}
.section-card h2 {
  color: var(--color-charcoal);
   font-family: "Caveat", Sans-Serif;
}

.contactme {
  text-align: center;
  color: var(--color-light-blue2);
  text-decoration: none;
  padding: 5px 10px;
  font-size: 18px;
  border-radius: 5px;
}

.contactme:hover {
  background-color: var(--color-yellow);
  color: var(--color-dark-blue);
}
.contactme-bottom  {
  color: var(--color-orange);
  margin: 100px 200px;
}
.contactme-bottom:hover {
  background-color: var(--color-light-blue2);
  text-decoration: none;
  color: var(--color-dark-blue);
  padding-top: 0;
  
}

.card-img2 {
  grid-column: 1/11;
  grid-row: 5/7;  
  width: 100%;
  padding: 100px 0;
}

#background {
  background-color: var(--color-light-blue2);
  height: 725px;
  grid-column: 1/11;
  grid-row: 8/10;
  padding-top: 100px;
}

.message-left {
  grid-column: 1/5;
  grid-row: 8/9;
  padding: 10px 20px;
  margin-top: 40px;
  text-align: justify;
  opacity: .8;
  transform: scale(.9);
  color: var(--color-charcoal);
  box-shadow: 15px 15px 20px var(--color-dark-blue);

}
.message-right {
  grid-column: 6/11;
  grid-row: 8/9;
  padding: 10px 30px;
  margin-top: 40px;
  text-align: justify;
  background-color: var(--color-yellow);
  opacity: 1;
  transform: scale(.9);
  color: var(--color-charcoal);
  box-shadow: 15px 15px 20px var(--color-dark-blue);
}
h5 {
  text-align: center;
  color: var(--color-charcoal);
}

footer {
  background-color: var(--color-light-blue2);
  padding: 45px 50px;
  margin-top: 200px; 
}

footer p {
  text-align: center;
}
footer a {
  border-radius: 5px;
  padding: 5px 0px;
  color: var(--color-yellow);
  text-decoration: none;
  text-align: center;
}
footer p a:hover {
  color: var(--color-dark-blue);
  background-color: var(--color-yellow);
}

.social-profiles {
  padding-left: 40%;
}

.insta:hover {
  background-color: var(--color-dark-red);
  border-radius: 150%;
}
.bookit:hover {
  background-color: var(--color-dark-red);
  border-radius: 100%;
}
.tweet:hover {
  background-color: var(--color-dark-red);
  border-radius: 100%;
}

.linkup:hover {
  background-color: var(--color-dark-red);
  border-radius: 100%;
}


/* Mobile screen format (index.html). */

@media screen and (max-width: 999px) {
  #hero, .home-grid {
      display: block;
      height: auto;
  }
  nav {
      flex-direction: column;
  }

  .social-profiles {
    display: flex;
    justify-content: space-evenly;
    margin-right: 120px;
  }
  nav a {
      display: block;
      padding: 15px;
      color: var(--color-yellow);
  }
  #hero {
      margin-top: 0;
  }
  #hero-msg {
      margin-top: 0;
  }
  #hero-msg h4 {
      display: none;
  }
  .home-title {
      font-size: 25px;
      color: var(--color-yellow);
  }
  .contactme {
    color: var(--color-yellow);
  }

  .contactme-bottom {
    display: none;
}

  #background {
      display: none;
  }
  .home-grid-img {
      width: 80%;
      display: block;
      margin: 0 auto;
  }

  .section-card {
    display: block;
    width: 50%;
    margin-top: 155px;
    margin-bottom: 60px;
    margin: 222px auto;
    text-align: center;
  }

  footer {
      margin-top: 25px;
  }
}


/* 2nd Page (mywork.html) css styling. */

/* Grid container. */
.mywork-grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

/* 1st image left grid place. */
.first-image-box {
  grid-column: 1/4;
  grid-row: 1/2;
}

/* First image */
.first-image {
  width: 800px;
  margin-top: 55px;
  border: 10px solid #396E94;
  box-shadow: 5px 5px 10px var(--color-dark-blue);
}


/* 1st message right. */
.right-msg1 {
  grid-column: 7/11;
  grid-row: 1/2;
  margin: 25px 0px;
  /* padding-bottom: 66px; */
}

/* 2nd image right grid place. */
.color-block {
  grid-column: 6/10;
  grid-row: 2/3;
}

/* Color-block image (2nd image) */
.second-image {
  width: 111%;
  margin: 75px auto;
  height: 666px;
  box-shadow: 5px 5px 10px var(--color-dark-blue);
  border: 10px solid var(--color-light-blue2);
}

/* 2nd message left grid place. */
.left-msg { 
  grid-column: 1/5;
  grid-row: 2/3;
  margin: 155px 0;
  padding-left: 25px;
  box-shadow: 5px 5px 10px var(--color-dark-blue);
  background-image: linear-gradient(#396E94, #716969, #FFAE03);
} 

/* 3rd image left grid place. */
.seo {
  grid-column: 1/4;
  grid-row: 4/5;
}
 /* Third image. */
.third-image {
  width: 800px;
  border: 10px solid #396E94;
  box-shadow: 5px 5px 10px var(--color-dark-blue);
}

  /* 3rd message right. */
.right-msg2 {
  grid-column: 7/11;
  grid-row: 4/5;
  margin: 25px 0px;
}

/* Bottom message. */
.bottom-msg {
  grid-column: 1/11;
  grid-row: 9/10;
}

.contact-work {
  color: var(--color-charcoal);
}

.contact-work:hover {
  background-color: var(--color-yellow);
  color: var(--color-light-blue1);
}

.bottom-msg {
  margin-top: 55px;
  margin-bottom: -105px;
  background-color: var(--color-light-blue2);
}


/* Mobile format (mywork.html). */
@media screen and (max-width: 900px) {
  .mywork-grid {
    display: block;
    height: auto;
  }

  .first-image {
    width: 80%;
    display: block;
    margin: 0 auto;
  }

  .right-msg1 {
    display: block;
    width: 50%;
    margin: 0 auto;
    margin-top: 25px;
    text-align: center;
    box-shadow: none;
  }

  .second-image {
    width: 80%;
    height: 366px;
    display: block;
    margin: 0 auto;
  }

  .left-msg {
    width: 80%;
    display: block;
    margin: 0 auto;
  }

  .third-image {
    width: 80%;
    display: block;
    margin: 0 auto;
  }

.contact-work {
  border-style: groove;
}
  .right-msg2 {
    width: 50%;
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-top: 25px;

  }

  .bottom-msg {
    display: block;
    width: 100%;
    margin-bottom: 45px;
    text-align: center;
  }
}



/* 3rd Page (aboutme.html) css styling. */

.aboutme-grid {
  display: grid;
  grid-template-columns: repeat(10, 3fr);
}


.aboutme1-img {
  grid-column: 1/6;
  grid-row: 1/2;
}

.i-img {
  width: 40rem;
  margin-top: 11rem;
  margin-left: 10px;
  border: 5px solid var(--color-light-blue2);
  box-shadow: 5px 5px 10px var(--color-dark-blue);
  transition: transform .6s;  
}

.i-img:hover {
  transform: scale(.9);
}


.contact-aboutme:hover {
  color: var(--color-dark-blue);
  background-color: var(--color-yellow);
}

.wfr-msg {
  grid-column: 1/5;
  margin-left: 10px;
  grid-row: 2/3;
  text-shadow: 1px 1px var(--color-dark-red);
}



.aboutme2-img {
  grid-column: 6/10;
  grid-row: 1/2;
}

.ii-img {
  width: 44rem;
  height: 26.7rem;
  border: 5px solid var(--color-light-blue2);
  margin-top: 11rem;
  box-shadow: 5px 5px 10px var(--color-dark-blue);
  transition: .6s;
}

.ii-img:hover {
  transform: scale(.9);
}

.united-msg {
  grid-column: 6/10;
  grid-row: 2/3;
  text-shadow: 1px 1px var(--color-dark-red);
}

.aboutme3-img {
  grid-column: 1/5;
  grid-row: 4/5;
}

.iii-img {
  width: 40rem;
  border: 5px solid var(--color-light-blue2);
  margin-left: 10px;
  box-shadow: 5px 5px 10px var(--color-dark-blue);
  transition: transform .6s;
}

.iii-img:hover {
  transform: scale(.9);
}

.bg-msg {
  margin-top: 44px;
  grid-column: 1/5;
  margin-left: 10px;
  text-shadow: 1px 1px var(--color-dark-red);
  grid-row: 5/6;
  color: var(--color-charcoal);
}


.aboutme4-img {
  grid-column: 6/10;
  grid-row: 4/5;
}

h2 {
  font-family: "Caveat", "Brady Hand", Sans-Serif;
  font-size: 3em;
}


.iiii-img {
  width: 44rem;
  border: 5px solid var(--color-light-blue2);
  height: 26.4rem;
  transition: transform .6s;
  box-shadow: 5px 5px 10px var(--color-dark-blue);
  margin: 1px 0px;

}

.iiii-img:hover {
  transform: scale(.9);
}

.colors-msg {
  margin-top: 44px;
  grid-column: 6/10;
  margin: 48px 0px;
  text-shadow: 1px 1px var(--color-dark-red);
  grid-row: 5/6;
  color: var(--color-charcoal);
}





/* Mobile format (aboutme.html) */

@media screen and (max-width: 900px) {

  .aboutme-grid {
    display: block;
    height: auto;
  }

  .i-img {
    width: 85%;
    margin: 35px auto;
    margin-left: 20px;
  }

  .ii-img {
    width: 90%;
    margin: 0 auto;
    margin-left: 10px;
  }

  .wfr-msg {
    margin: 0 auto;
    text-align: center;
  }

  .united-msg {
    margin: 0 auto;
    text-align: center;
  }

  .iii-img {
    width: 90%;
    margin: 0 auto;
    margin-left: 10px;
  }

  .bg-msg {
    margin: 0 auto;
    text-align: center;
  }

  .iiii-img {
    width: 90%;
    margin: 0 auto;
    margin-left: 10px;
  }

  .colors-msg {
    margin: 0 auto;
    text-align: center;
  }

}